# Git管理するテキストファイルの改行コードをLFで管理する
#
# text=auto：テキスト or バイナリを判断して、テキストなら改行コードを変換する
# eol=lf：改行コードをLFで管理する
#
# PJ直下のDockerファイルの改行コードもLFで管理するため追加した
#（コンテナ内で予期せぬ更新が発生するときがあった。Windows環境の問題(CRLF)）
* text=auto eol=lf